<input type="number" [(ngModel)]="amountToRetrieve">
<br>
<input readonly [(ngModel)]="amountToRetrieve">
<br>
<button (click)="go()">Retrieve pokemons</button>
<br>
<br>
<mat-slide-toggle [(ngModel)]="isSelectedPokemonToggleOn">Afficher la liste des pokemons</mat-slide-toggle><br>
<p>Liste de pokemons : </p>
<ul *ngIf="isSelectedPokemonToggleOn">
  <li *ngFor="let pokemon of pokemon_list">
    {{pokemon.name}} a ID {{pokemon.id}}
  </li>
</ul>
<br>

<p>Choix de pokemon : </p>
<select name="" id="" [(ngModel)]="selectedPokemonId">
  <option *ngFor="let pokemon of pokemon_list" [value]="pokemon.id">{{pokemon.name}}</option>
</select>
<p *ngIf="(pokemon_list | filterPokemonPipe:selectedPokemonId) as selectedPokemon">
  ID du pokemon selectionné: {{ selectedPokemon.id }}
</p>




