<input [(ngModel)]="searchString">
<br>
<input readonly [(ngModel)]="searchString">
<br>
<select name="" id="" [(ngModel)]="selectedPokemonId">
  <option *ngFor="let pokemon of pokemon_list" [value]="pokemon.id">{{pokemon.name}}</option>
</select>
<br>
<p>Liste de pokemons : </p>
<ul>
  <li *ngFor="let pokemon of pokemon_list">
    {{pokemon.name}} a ID {{pokemon.id}}
  </li>
</ul>
<br>
<mat-slide-toggle [(ngModel)]="isSelectedPokemonToggleOn">Afficher le pokemon selectionné</mat-slide-toggle><br>

<p *ngIf="isSelectedPokemonToggleOn && (pokemon_list | filterPokemonPipe:selectedPokemonId) as selectedPokemon">
  ID du pokemon selectionné: {{ selectedPokemon.id }}
</p>
<button (click)="go()">GO</button>



