/* Light theme colors */
:root {
  --background-color: #e0e0e0;
  --pokemon-box-background: #ffffff;
  --text-color: #333333;
  --highlight-color: #3b4cca;
  --stat-background: #f7f7f9;
}

/* Dark theme colors */
body.dark-mode {
  --background-color: #1e1e1e;
  --pokemon-box-background: #333333;
  --text-color: #ffffff;
  --highlight-color: #85a1ff;
  --stat-background: #444444;
}

/* Global styles using variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}



.toggle-button {
  position: fixed; /* Fixes the button in place */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  padding: 10px 15px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  z-index: 1000; /* Ensures it stays on top of other elements */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button:hover {
  background-color: #555; /* Darker color on hover */
  color: #ffffff;
}
